# Example environment variables for production
# Postgres connection string (Neon, Vercel Postgres, Supabase, Railway, etc.)
DATABASE_URL=postgresql://neondb_owner:npg_x7DkZNgXOKu6@ep-raspy-silence-a26iomce-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# NextAuth
NEXTAUTH_SECRET=B8WqZvJ60WDEU3V7w/omg1Vwmu49fRsYeyEvuGEftyg=
# Set this to your production URL, e.g. https://your-app.vercel.app
NEXTAUTH_URL="http://localhost:3000"
